@charset "UTF-8";
@import"https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css";
 
/*主体部分样式*/
html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("Image/yZygONrUBe8.jpg");
    background-size: cover;
    background-color: black;
   
}
 
/*登录盒子样式*/
.login-box {
    width: 280px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
 
/*E-boy网咖字体样式*/
.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
 
.textbox {
	margin-top: 50%;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}
 
/*图标样式*/
.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}
 
/*表单文本框样式*/
.textbox input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
 
/*表单登录按钮样式*/
.btn {
    width: 100%;
    background: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width: 49%;
    border: 2px solid #4caf50;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

